<div class="alerts-controller container bg-none"
     ng-hide="Alerts.areAlertsEmpty() == true"
     ng-class="{'container' : Alerts.isUserAuthenticated() === true,
                    'container bg-none' : Alerts.isUserAuthenticated() == false }">

    <ul class="alert alert-danger" ng-hide="Alerts.errors.length === 0" ng-model="Alerts.errors">
        <button type="button" class="close" aria-label="Close" ng-click="Alerts.closeErrors()">
            <span aria-hidden="true">&times;</span></button>
        <li ng-repeat="(key, alert) in Alerts.errors">{{alert.msg}}{{console.log($parent)}}</li>
    </ul>
    <ul class="alert alert-warning" ng-hide="Alerts.warnings.length === 0">
        <button type="button" class="close" aria-label="Close" ng-click="Alerts.closeWarnings()">
            <span aria-hidden="true">&times;</span></button>
        <li ng-repeat="(key, alert) in Alerts.warnings">{{alert.msg}}</li>
    </ul>
    <ul class="alert alert-success" ng-hide="Alerts.successes.length === 0">
        <button type="button" class="close" aria-label="Close" ng-click="Alerts.closeSuccesses()">
            <span aria-hidden="true">&times;</span></button>
        <li ng-repeat="(key, alert) in Alerts.successes">{{alert.msg}}</li>
    </ul>
</div>
