<div class="container-fluid page--komisja-obwodowa">
	<div class="row">
		<div class="col-sm-8">
			<h3>Wgrane protokoły</h3>
		</div>
		<div class="col-sm-4" style="padding-top:12px">
			<a ui-sref="komisja-obwodowa-lista" class="btn btn-primary pull-right responsive-width responsive-spacing">Powrót do listy</a>
        </div>
    </div>

    <!-- Table
    -------------------------------------->
    <table class="table table-hover table-bordered table-striped smartTable" st-table="displayedData" st-safe-src="Protokoly.protocols">
        <thead>
        <tr>
            <th st-sort="index" st-skip-natural="true">#</th>
            <th st-sort="uploadTimestamp" st-skip-natural="true" class="col-lg-1">Data wysyłki na serwer</th>
            <th st-sort="ratedPositiv" st-skip-natural="true" st-sort-default="reverse">Ilość potwierdzeń</th>
            <th st-sort="ratedNegativ" st-skip-natural="true">Ilość zaprzeczeń</th>
            <th>Dane Protokołu</th>
        </tr>
        </thead>

        <tbody>
        <!-- Showing data
        -------------------------------------->
        <tr ng-repeat="protocol in displayedData" responsive-table>
            <td class="text-center">{{$index + 1}}</td>
            <td class="text-right">{{protocol.uploadTimestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-right">{{protocol.ratedPositiv}}</td>
            <td class="text-right">{{protocol.ratedNegativ}}</td>
            <td><a class="btn btn-success btn-xs pull-right" ui-sref="komisja-obwodowa-protokol({protocolId: protocol.id, commisionId: Protokoly.commisionId})" role="button">
                Zobacz Protokół
            </a>
            </td>
        </tr>
        <!-- Showing if no data is available
        -------------------------------------->
        <tr ng-if="!displayedData || displayedData.length === 0">
            <td colspan="5">
                <p>Brak wyników</p>
            </td>
        </tr>
        </tbody>
        <!-- Showing pagination based on number of rows
        -------------------------------------->
        <tfoot class="paginationWrapper" ng-if="Protokoly.protocols.length >= 6 && displayedData.length > 0">
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination st-items-by-page="6"></div>
            </td>
        </tr>
        </tfoot>
    </table>

</div>
