<!DOCTYPE html>
<html lang="pl" ng-app="app">

<head>
    <title>Otwarta Platforma Wyborcza</title>
    <meta charset="utf-8">
    <base href="/" />

    <!-- build:js(.) js/vendors.min.js-->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->

    <!-- endbuild -->
    <!-- build:css css/style.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- endbuild -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
</head>

<body ng-controller="ApplicationController"  ng-cloak="">
    <nav ng-controller="NavController" ng-show="isUserAuthenticated()" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">OPW</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/komisja-obwodowa/lista">Lista Komisji Obwodowych</a></li>
                    
                </ul>
                <a href="/auth/logout" class="btn btn-sm btn-danger pull-right" style="margin-top:8px;"><span class="glyphicon glyphicon-off"></span> Wyloguj się</a>
            </div>
        </div>
    </nav>

    <div class="container alerts-controller" ng-controller="AlertsController" ng-hide="areAlertsEmpty() == true" ng-class="{'container' : isUserAuthenticated() === true,  'container bg-none' : isUserAuthenticated() == false }">
        <div ng-repeat="(key,val) in alerts" class="alert {{key}}">
            <div ng-repeat="msg in val">{{msg}}</div>
        </div>
    </div>
    <div ui-view ng-class="{'container' : isUserAuthenticated() === true,  'container bg-none' : isUserAuthenticated() == false }">

    </div>


    <!-- build:js js/myapp.js -->
    <script src="app/app.run-config.js"></script>
    <script src="app/app.routes-config.js"></script>
    <script src="app/app.js"></script>
    
    

    <script src="app/shared/Shared.js"></script>


    <script src="app/shared/session/SessionService.js"></script>
    <script src="app/shared/session/Session.js"></script>

    <script src="app/shared/auth/AuthInterceptor.js"></script>
    <script src="app/shared/auth/AuthService.js"></script>
    <script src="app/shared/auth/AuthConstants.js"></script>
    <script src="app/shared/auth/Auth.js"></script>

    <script src="app/components/application/ApplicationController.js"></script>
    <script src="app/components/application/Application.js"></script>
    

    <script src="app/shared/alerts/AlertsController.js"></script>
    <script src="app/shared/alerts/AlertsService.js"></script>
    <script src="app/shared/alerts/AlertsConstants.js"></script>
    <script src="app/shared/alerts/Alerts.js"></script>

    <script src="app/shared/nav/NavController.js"></script>
    <script src="app/shared/nav/Nav.js"></script>


    <script src="app/shared/controls/Controls.js"></script>
    <script src="app/shared/controls/pagination/PaginationDirective.js"></script>
    <script src="app/shared/controls/pagination/PaginationController.js"></script>
    
    <script src="app/components/Components.js"></script>
    
    <script src="app/components/auth/login/LoginController.js"></script>
    <script src="app/components/auth/login/Login.js"></script>

    <script src="app/components/auth/logout/LogoutController.js"></script>
    <script src="app/components/auth/logout/Logout.js"></script>

    <script src="app/components/komisja-obwodowa/KomisjaObwodowaController.js"></script>
    <script src="app/components/komisja-obwodowa/KomisjaObwodowaService.js"></script>
    <script src="app/components/komisja-obwodowa/KomisjaObwodowa.js"></script>

    <script src="app/components/komisja-obwodowa/lista/KomisjaObwodowaListaController.js"></script>
    <script src="app/components/komisja-obwodowa/lista/KomisjaObwodowaLista.js"></script>
   

    <!-- endbuild -->

</body>

</html>
