/*-----------------------------------------------*\
  Responsive table
\*-----------------------------------------------*/
.responsiveTable {
    text-rendering: optimizeLegibility;
    width: 100%;
    position: relative;

    @media screen and (max-width: 767px) {
        thead {
            display: none !important;
        }
        & tbody > tr > td {
            display: block;
            padding-left: 25%;
        }
        & tbody > tr > td:before {
            content: attr(data-th);
            font-weight: bold;
            width: 25%;
            display: inline-block;
            text-align: left;
            position: absolute;
            left: 10px;
            float: left;
        }
    }

    @media screen and (max-width: 480px) {
        & tbody > tr > td {
            padding-left: 30%;
        }
        & tbody > tr > td:before {
            width: 30%;
        }
    }
}


