body{
  padding-top:50px;
}
html * {
  outline: 0 !important;
}

html,
body {
  /*css for full size background image*/
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */

  height: 100%;
}

.app-container {
    padding-top: 20px;
}

.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.container{
  background: #fff;
}
.bg-none{
  background: none;
}

.alerts-controller{

  padding-top: 20px;
}
.container.ui-view{
  padding-top:20px;
}

table.table.vote-result tr th{
  height:50px;
  vertical-align: middle;
  text-align: center;
}

.pull-down {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

ul.alert{
  list-style-type: none;
}

input.ng-invalid.ng-touched {
    @extend .text-danger;
}
